<div class="post" [ngClass]="post.type">
  <div class="box">
    <div class="content">
      <div class="category">
        <a>{{post.category}}</a>
      </div>
      <h4 class="title">
        <a href="">{{post.title}}</a>
      </h4>
      <div class="ql-container ql-snow" style="height: auto; border: none;">
        <div class="ql-editor text" [innerHTML]="post.text">
        </div>
      </div>
<!--      <quill-view-html style="height: auto;" [content]="post.text"></quill-view-html>-->
      <button [routerLink]="['/post', post.id]" class="btn">Read more</button>
      <div class="info">
        <div class="date">{{post.date | date:'dd. MMM yyyy'}}</div>
        <div class="like">
          <svg-icon class="svg" src="assets/svg/heart.svg"></svg-icon>
          {{post.likes || 0}}
        </div>
        <div class="comment">
           <svg-icon class="svg" src="assets/svg/comment.svg"></svg-icon>
          {{post.comments || 0}}
        </div>
      </div>
    </div>
    <a [routerLink]="['/post', post.id]" class="img">
      <img src="{{post.imgUrl}}" alt="{{post.title}}">
    </a>
  </div>
</div>
