// basics
$font-size: 13px;
$line-height: 21px;

// colors
$color-primary: #dc3545;
$color-dark: #333333;
$color-dark-light: #8D8C8C;
$color-light: #f4f4f4;

// colors-action
$color-danger: #dc3545;
$color-success: #28a745;

// fonts
$OpenSans: 'Open Sans', sans-serif;
$NotoSans: 'Noto Sans', sans-serif;
$Oswald: 'Oswald', sans-serif;
