@import '../../shared/styles/vars';
@import '../../shared/styles/btn';

.box {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 30px 40px;
  max-width: 450px;
  width: 100%;
  margin: 0 auto 150px;
  box-shadow: $box-shadow-default;
}

.title {
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: $Oswald;
  color: $color-dark;
}

.control {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.validation {
  margin-top: 3px;
  font-size: 12px;
  color: $color-red;
}

.label {
  text-transform: uppercase;
  line-height: 16px;
  font-size: 10px;
  font-family: $NotoSans;
  color: $color-primary;
}

.input {
  padding: 10px 20px;
  border: none;
  outline: none;
  color: $color-dark;
  background-color: $color-light200;

  &::placeholder {
    line-height: 15px;
  }

  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
}

.svg {
  width: 13px;
  height: 13px;
  fill: $color-light100;
}
