@import '../../shared/styles/vars';

.box {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 30px 40px;
  max-width: 450px;
  width: 100%;
  margin: 0 auto 150px;
  box-shadow: 1px 2px 15px #e5e5e5;
}

.title {
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: $Oswald;
  color: $color-dark;
}

.control {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.validation {
  font-size: 12px;
  color: $color-red;
}

.label {
  text-transform: uppercase;
  line-height: 16px;
  font-size: 10px;
  font-family: $NotoSans;
  color: $color-primary;
}

.input {
  padding: 10px 20px;
  border: none;
  outline: none;
  color: $color-dark;
  background-color: $color-light200;

  &::placeholder {
    line-height: 15px;
  }

  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
}

.btn {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  padding: 5px 11px;
  outline: none;
  border: none;
  line-height: 16px;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 700;
  color: $color-light100;
  background-color: $color-primary;
  cursor: pointer;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 0;
    height: 100%;
    background-color: #00000019;
    z-index: $z-index10;
    transition: $transition-btn-before;
  }

  &:disabled {
    background-color: $color-light200;

    &::before {
      display: none;
    }
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}

.svg {
  width: 13px;
  height: 13px;
  fill: $color-light100;
}
