<div class="box">
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <h2 class="title">Login into admin panel</h2>

    <div class="error" *ngIf="auth.error$ | async as error">{{error}}</div>

    <div class="error" *ngIf="message">{{message}}</div>

    <div class="control" [ngClass]="{invalid: form.get('email')!.touched && form.get('email')!.invalid}">
      <label class="label" for="email">Email:</label>
      <input class="input" type="email" id="email" placeholder="example@gmail.com" formControlName="email">
      <div class="validation" *ngIf="form.get('email')!.touched && form.get('email')!.invalid">
        <small *ngIf="form.get('email')!.errors?.['required']">Enter email</small>
        <small *ngIf="form.get('email')!.errors?.['email']">Enter correct email</small>
      </div>
    </div>

    <div class="control" [ngClass]="{invalid: form.get('email')!.touched && form.get('email')!.invalid}">
      <label class="label" for="password">Password:</label>
      <input class="input" type="password" id="password" placeholder="*****" formControlName="password">
      <div class="validation" *ngIf="form.get('password')!.touched && form.get('password')!.invalid">
        <small class="validation" *ngIf="form.get('password')!.errors?.['required']">Enter password</small>
        <small class="validation" *ngIf="form.get('password')?.errors?.['minlength'] && form.get('password')?.errors?.['minlength']['requiredLength']">
          Password should be greater than {{form.get('password')?.errors?.['minlength']['requiredLength']}} symbols.
          Password now {{form.get('password')?.errors?.['minlength']['actualLength']}}
        </small>
      </div>
    </div>

    <button
      class="btn"
      type="submit"
      [disabled]="form.invalid || submitted"
    >
      Login
      <svg-icon class="svg" src="assets/svg/login.svg"></svg-icon>
    </button>
  </form>
</div>
