<app-alert></app-alert>

<nav class="navbar">
  <a class="logo" routerLink="/">
    <img class="logo-img" src="assets/images/logo.png" alt="Flow blog logotype">
  </a>

  <ul class="nav" *ngIf="auth.isAuthenticated()">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/admin', 'dashboard']">Dashboard</a>
    </li>
    <li class="nav-item"  routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/admin', 'create']">Create</a>
    </li>
  </ul>
  <button class="logout" (click)="logout($event)">
    Logout
    <svg-icon class="logout-img" src="assets/svg/logout.svg"></svg-icon>
  </button>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
